@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply bg-gray-100 dark:bg-black m-0 p-0 outline-none;
  /* z-index: 99999999999; */
}
/* body {
  @apply bg-gray-50 dark:bg-gray-900;
} */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@layer utilities {
  @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

  :root {
    --radius: 8rem;
    --frame-size: calc(var(--radius) / 3);
    --d-outer: calc(var(--radius) * 2);
    --d-inner: calc(var(--d-outer) - var(--frame-size));
    --font-size: calc(var(--radius) / 10);
  }

  .main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .html {
    height: 100%;
    background-color: transparent;
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin-top: -150px;
    background-color: transparent;
  }

  .para {
    font-size: var(--font-size);
  }

  .circle {
    position: relative;
    width: var(--d-outer);
    height: var(--d-outer);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .logo {
    position: absolute;
    width: var(--d-inner);
    height: var(--d-inner);
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    filter: contrast(1.5);
  }

  .text-profile-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
    background-color: transparent;
    color: crimson;
  }

  @keyframes rotateText {
    0% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  .text-profile-pic .para span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 var(--radius);
    background-color: transparent;
    font-family: monospace;
    font-weight: bold;
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
  }

  .pagination a {
    padding: 8px;
    border-radius: 5px;
    /* border: 1px solid #6c7ac9; */
    color: #475569;
  }

  .pagination__link {
    font-weight: bold;
  }

  .pagination__link--active a {
    color: #fff;
    background: #475569;
  }

  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    /* border: 1px solid rgb(198, 197, 202); */
  }

  .label-scroll {
    overflow-y: auto;
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
  }

  .label-scroll::-webkit-scrollbar {
    width: 0.5vw;
  }

  .label-scroll::-webkit-scrollbar-thumb {
    background-color: grey;
  }

  .label-scroll::-webkit-scrollbar-track {
    background-color: #ccc;
  }

  audio::-webkit-media-controls-play-button,
  audio::-webkit-media-controls-panel {
    background-color: #ccc;
    color: #ccc;
  }
}
